<!-- 親テンプレートを読み込む-->
{% extends 'remote_con/base.html' %}
{% block content %}
{% load static %}
 <div class="content-wrapper">
   <div class="container-fluid">
     <!-- パンくずリストの設定-->
     <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="{% url 'remote_con:remote_con_list' %}">TOP</a>
       </li>
       <li class="breadcrumb-item">
         <a href="{% url 'remote_con:remote_con_form' %}">データ登録</a>
       </li>
     </ol>
     <!--ページタイトル-->
     <div class="card mb-3">
       <div class="card-header">
         <h3><b>リモコンアプリ</b></h3></div>
       <div class="card-body">
         <!-- テーブル表の定義 -->
         <div class="table-responsive">
         <table id=remote_con_list width="100%" class="table table-striped table-bordered table-hover">
           　<!-- 表の列の定義-->
             <thead>
               <tr>
                 <th class="text-center">機器の名前</th>
                 <th class="text-center">縦の角度</th>
                 <th class="text-center">横の角度</th>
                 <th class="text-center">赤外線の値</th>
                 <th class="text-center">更新・削除</th>
               </tr>
             </thead>
           　<!-- ここまでが表の列の定義-->
           　<!-- 表のデータ部分の表示-->
             <tbody>
               {% for item in object_list %}
                 <tr class="odd gradeX text-center">
                   <td class="text-center" width="100"><!--{{ item.machine_name }}-->
                   <button type="submit" class="btn btn-default btn-block">{{item.machine_name}}</button>
                   <td class="text-center" width="100">{{ item.vertical_angle }}</td>
                   <td class="text-center" width="140">{{ item.horizontal_angle }}</td>
                   <td class="text-center" width="140">{{ item.infrared }}</td>
                   <td class="text-center" width="140">
                     <a class="btn btn-primary"href="{% url 'remote_con:remote_con_update' item.pk %}" role="button">更新ページ</a>
                     <a class="btn btn-danger" href="{% url 'remote_con:remote_con_delete' item.pk %}" role="button">削除ページ</a>
                   </td>
                 </tr>
             {% endfor %}
             <script src="{% static 'sample2.js' %}"></script>
             </tbody>
           　<!-- ここまでが表のデータ部分の表示-->
           </table>
           <!-- ここまでがテーブル表の定義 -->
       </div>
      </div>
      </div>
   </div>
  </div>
{% endblock content %}
